body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.header {
    width: 100vw;
    height: 14vh;
    background-color: #46bfc3;
    background-color: #07132b;
    display: flex;
    align-items: center;

}
.links {
    width: 40vw;
    height: 9vh;
    /* border: 2px solid red; */
    margin-left: 55vw;
    margin-top: 10px;
}

.links ul {
    list-style: none;
    display: flex;
    color: #46bfc3;
}
.links ul li a {
    margin-left: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #46bfc3;
}
.links ul :hover {
    text-decoration: underline;
    cursor: pointer;
}
nav {
    display: flex;
}
#logo {
    margin-left: 10px;
}


#main-img {
   width: 100vw;
   height: 90vh;
}
.container {
    width: 80vw;
    /* border: 2px solid red; */
    align-self: center;
}
.container > h1 {
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.container > p {
    font-size: 20px;
    font-weight: 300;
    word-spacing: 13px;
    margin-top: 10px;
}
.container ul li {
    font-size: larger;
}
#team-container {
    margin-left: 35px;
    margin-top: 20px;
}
.member-card {
    display: flex;
    width: 15vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.member-card img {
    width: 10vw;
    border: 3px solid #46bfc3;
    border-radius: 30rem;
}
.member-card h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}
.member-card h3 {
    margin-top: 0px;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: #07132b;
}